.h1 {
    color: chartreuse;
}

.h2 {
    color: cadetblue;

}

.h3 {
    color: crimson;
}

.h4 {
    color: darkblue;
}

.h5 {
    color: blueviolet;
}

.h6 {
    color: violet;
}