h2{
    text-align: center;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td, th{
    border: 1px solid blue;
    text-align: center;
    padding: 8px;
}
tr:nth-child(1){
    background-color: teal;
    color: white;
}

tr:nth-child(even){
    background-color: khaki;
}