html {
    overflow: auto;
}

body {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: auto;
    background-image: linear-gradient(rgba(0, 221, 255, 0.5), rgba(255, 8, 140, 0.5)), url(img/iu01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: transparent; */
}

#h1-property {
    text-shadow: 1px 1px 2px aliceblue, 0 0 1em cyan, 0 0 0.2em cyan;
    letter-spacing: 1px;
    color: aliceblue;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}

#login h2 {
    text-shadow: 1px 1px 2px aliceblue, 0 0 1em cyan, 0 0 0.2em cyan;
    letter-spacing: 1px;
    color: aliceblue;
}

h2 {
    font-size: 2em;
    margin: 0.67em 0;
}

input {
    width: 278px;
    height: 18px;
    margin-bottom: 10px;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 100px;
}

.login-btn {
    width: 300px;
    min-height: 20px;
    display: block;
    background-color: #4a77d4;
    border: 1px solid #3762bc;
    color: #fff;
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    border-radius: 100px;
    margin: 0;
}