<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/util
						http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<bean id='esbean' class="com.co.shl.beans.EmployeeServiceImpl" />
	<bean id='esbean2' class="com.co.shl.beans.EmployeeServiceImpl" />

	<!-- property로 값을 주입 -->
	<bean id="employee" class="com.co.shl.beans.Employee">
		<property name="name">
			<value>이성혁</value>
		</property>
		<property name="age" value="24"></property>
		<property name="gender" value="male"></property>
		<property name="score" value="69.58"></property>
		<!-- 외부Bean을 가져온다 -->
		<!-- <property name="client" ref="client"></property> -->
		<!-- 링크 속성 -->
		<!-- <property name="client.name" value="사랑"></property> -->
		<!-- 내부Bean -->
		<property name="client">
			<bean id="client" class="com.co.shl.beans.Client">
				<property name="name" value="은지"></property>
				<property name="age" value="26"></property>
				<property name="gender" value="female"></property>
			</bean>
		</property>
	</bean>
	<!-- 외부Bean -->
	<bean id="client" class="com.co.shl.beans.Client">
		<property name="name" value="나라"></property>
		<property name="age" value="34"></property>
		<property name="gender" value="female"></property>
	</bean>

	<!-- constructor-arg로 값을 주입 -->
	<bean id="employee2" class="com.co.shl.beans.Employee">
		<constructor-arg value="하늘" index="0"
			type="java.lang.String"></constructor-arg>
		<constructor-arg value="29" index="1" type="int"></constructor-arg>
		<constructor-arg value="female" index="2"
			type="java.lang.String"></constructor-arg>
		<constructor-arg value="99.55" index="3"></constructor-arg>
	</bean>

	<!-- p로 값을 주입 -->
	<bean id="employee3" class="com.co.shl.beans.Employee" p:name="선호"
		p:age="25" p:gender="female" p:score="99.88"></bean>

	<!-- bean element의 하위 element인 constructor-arg는 생성자 주입에 사용된다. -->
	<!-- constructor-arg는 4개 attribute를 지원한다. index, type, value, ref -->
	<!-- property element는 setter method를 호출한다. -->
	<!-- property는 3개 attribute를 지원한다. name, value, ref -->

	<bean id="client1" class="com.co.shl.beans.Client">
		<property name="name" value="은비"></property>
		<property name="age" value="28"></property>
		<property name="gender" value="female"></property>
		<property name="cls">
			<list>
				<value>A</value>
				<value>B</value>
				<value>C</value>
			</list>
		</property>
		<!-- <property name="employees"> <list> <ref bean="employee"/> <ref bean="employee2"/> 
			<ref bean="employee3"/> </list> </property> -->

	</bean>

	<bean id="client2" class="com.co.shl.beans.Client">
		<property name="name" value="지영"></property>
		<property name="age" value="22"></property>
		<property name="gender" value="female"></property>
		<property name="cls">
			<list>
				<value>A</value>
				<value>B</value>
				<value>C</value>
			</list>
		</property>
		<property name="employees">
			<list>
				<ref bean="employee" />
				<ref bean="employee2" />
				<ref bean="employee3" />
			</list>


		</property>

	</bean>

	<bean id="client3" class="com.co.shl.beans.Client">
		<property name="name" value="보영"></property>
		<property name="age" value="31"></property>
		<property name="gender" value="female"></property>
		<property name="cls">
			<list>
				<value>A</value>
				<value>B</value>
				<value>C</value>
			</list>
		</property>
		<property name="employees">
			<list>
				<ref bean="employee" />
				<ref bean="employee2" />
				<ref bean="employee3" />
			</list>
		</property>
		<property name="bossMap">
			<map>
				<entry>
					<key>
						<value>1001</value>
					</key>
					<value>김수로</value>
				</entry>
				<entry>
					<key>
						<value>1002</value>
					</key>
					<value>최치원</value>
				</entry>
			</map>
		</property>
	</bean>
		<bean id="client4" class="com.co.shl.beans.Client">
		<property name="name" value="지아"></property>
		<property name="age" value="31"></property>
		<property name="employees" ref="employees" ></property></bean>
	
		<bean id="employee4" class="com.co.shl.beans.Employee" p:name="예은"
		p:age="25" p:gender="female" p:score="24.55"></bean>
		
		<bean id="employee5" class="com.co.shl.beans.Employee" p:name="보라"
		p:age="27" p:gender="female" p:score="44.44"></bean>
		
		<bean id="employee6" class="com.co.shl.beans.Employee" p:name="윤호"
		p:age="25" p:gender="male" p:score="99.88"></bean>
	
	<util:list id="employees">

			<ref bean="employee4"/>
			<ref bean="employee5"/>
			<ref bean="employee6"/>

	</util:list>
	<util:map>
		<entry>
			<key>
				<value>1</value>
			</key>
			<value>홍길동</value>
		</entry>
		
	</util:map>
</beans> 